<section class="faf-home">
    <div class="faf-bg"
        style="background-image: url(https://i.postimg.cc/Y2VrGQs0/DJI-20250423104238-0044-D.jpg); animation-delay: 0.2s;">
        <div class="overlay"></div>
        <div class="container animate__animated animate__slow" data-animate="animate__fadeInLeft"
            style="animation-delay: 0.4s;">
            <div class="wrapper">
                <div class="faf-content">
                    <h1>Our factory and farm</h1>
                    <p>HAFAMEX utilizes dragon fruit washing machines with a continuous-flow system that handles large
                        volumes of fruit efficiently. It consists of mechanical and hydraulic components that gently
                        clean the fruits while minimizing damage to its sensitive skin and leaves. </p>
                    <p>
                        Cold storage is one of key steps in preserving fruit freshness. HAFAMEX's cold storage system
                        with THREE separate cold storages, containing a capacity of up to FIVE containers at a time. The
                        technology uses controlled refrigeration (typically 2–5°C) with high humidity (85–90%) to extend
                        shelf life and maintain fruit quality by slowing down respiration and microbial growth and
                        preventing dehydration.
                    </p>
                </div>
            </div>
        </div>
        <div class="row animate__animated animate__slow" data-animate="animate__fadeInLeft">
            <div class="col-12 d-flex justify-content-center">
                <button class="btn-get-more">
                    <NavLink href="/about">Watch More</NavLink>
                </button>
            </div>
        </div>
    </div>
</section>