/* faf-home */
.faf-home {
  margin-top: 50px;
  .faf-bg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 50px 0;
    min-height: 800px;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .container {
      position: relative;
      margin: 0 auto;
      padding: 0px 15px;
      border: none;
      padding: 60px 80px;
      .wrapper {
        margin: 0 auto;
        text-align: center;
        line-height: 36px;
        font-family: "Poppins", sans-serif;
        color: #fff;
        .faf-content {
          width: 100%;
          h1 {
            font-size: 42px;
            font-weight: 500;
            text-align: center;
            text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
          }
          p {
            font-size: 18px;
          }
        }
      }
    }
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0.25;
      pointer-events: none;
    }
  }
  .btn-get-more {
    background-color: #fff;
    border: 1px solid #b80a25;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    a {
      padding: 50px;
      padding: 32px;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: 2.5px;
      color: #b80a25;
      text-decoration: none;
    }
    &:hover {
      background-color: #b80a25;
      box-shadow: 0px 15px 20px #e58a8a;
      transform: translateY(-7px);
      a {
        color: #fff;
      }
    }
    &:active {
      transform: translateY(-1px);
    }
  }
}

/* ====================== Responsive ====================== */

@media (max-width: 360px) {
  .faf-home .faf-bg {
    padding: 30px 0;
    min-height: 500px;
    .container {
      padding: 15px;
      .wrapper {
        line-height: 28px;
        .faf-content {
          h1 {
            font-size: 18px;
          }
          p {
            font-size: 10px;
          }
        }
      }
    }

    .btn-get-more {
      padding: 10px 20px;
      font-size: 12px;
    }
  }
}

@media (max-width: 576px) {
  .faf-home .faf-bg {
    padding: 40px 0;
    min-height: 550px;

    .container {
      padding: 30px;

      .wrapper {
        line-height: 30px;

        .faf-content {
          h1 {
            font-size: 20px;
          }

          p {
            font-size: 12px;
          }
        }
      }
    }

    .btn-get-more {
      padding: 12px 24px;
      font-size: 13px;
    }
  }
}

@media (max-width: 768px) {
  .faf-home .faf-bg {
    padding: 50px 0;
    min-height: 600px;

    .container {
      padding: 40px;

      .wrapper {
        line-height: 32px;

        .faf-content {
          h1 {
            font-size: 26px;
          }

          p {
            font-size: 14px;
          }
        }
      }
    }

    .btn-get-more {
      padding: 14px 28px;
      font-size: 13.5px;
    }
  }
}

@media (max-width: 1024px) {
  .faf-home .faf-bg {
    min-height: 700px;

    .container {
      padding: 50px;

      .wrapper {
        line-height: 34px;

        .faf-content {
          h1 {
            font-size: 36px;
          }

          p {
            font-size: 17px;
          }
        }
      }
    }

    .btn-get-more {
      padding: 15px 30px;
      font-size: 14px;
    }
  }
}

@media (max-width: 1280px) {
  .faf-home .faf-bg {
    .container {
      padding: 60px;

      .wrapper {
        .faf-content {
          h1 {
            font-size: 38px;
          }
        }
      }
    }
  }
}

@media (min-width: 1441px) {
  .faf-home .faf-bg {
    .container {
      padding: 80px;

      .wrapper {
        .faf-content {
          h1 {
            font-size: 48px;
          }

          p {
            font-size: 20px;
          }
        }
      }
    }
  }
}
