<section class="certificate">
    <div class="container">
        <h1 class="my-4 animate__animated" data-animate="animate__fadeInDown">Certificate</h1>
        <p class="animate__animated" data-animate="animate__fadeInDown">
            HAFAMEX FRUIT takes immense pride in achieving a series of prestigious international certifications,
            reflecting our unwavering commitment to delivering high-quality, safe, and sustainable products to global
            markets. Each certification serves as a testament to the relentless dedication of our team and partners in
            adhering to the most rigorous standards worldwide, ensuring trust and excellence in every step of our supply
            chain.
        </p>
        <div class="slider animate__animated" data-animate="animate__fadeInDown">
            <div class="slide-track">
                <div class="slide">
                    <img src="https://vinatt.com/thumbs/146x139x2/upload/photo/chungnhan-global-gap-6829.png"
                        height="139px" width="196px" alt="" />
                </div>
                <div class="slide">
                    <img src="https://vinatt.com/thumbs/146x139x2/upload/photo/chungnhan-smeta-2330.png" height="139px"
                        width="196px" alt="" />
                </div>
                <div class="slide">
                    <img src="https://vinatt.com/thumbs/146x139x2/upload/photo/chungnhan-haccp-7783.png" height="139px"
                        width="196px" alt="" />
                </div>
                <div class="slide">
                    <img src="https://i.postimg.cc/npmv4HHM/22230.png" height="139px"
                        width="196px" alt="" />
                </div>
                <div class="slide">
                    <img src="https://vinatt.com/thumbs/146x139x2/upload/photo/chungnhan-fda-8368.png" height="139px"
                        width="196px" alt="" />
                </div>
                <div class="slide">
                    <img src="https://vinatt.com/thumbs/146x139x2/upload/photo/chungnhan-global-gap-6829.png"
                        height="139px" width="196px" alt="" />
                </div>
                <div class="slide">
                    <img src="https://vinatt.com/thumbs/146x139x2/upload/photo/chungnhan-smeta-2330.png" height="139px"
                        width="196px" alt="" />
                </div>
                <div class="slide">
                    <img src="https://vinatt.com/thumbs/146x139x2/upload/photo/chungnhan-haccp-7783.png" height="139px"
                        width="196px" alt="" />
                </div>
                <div class="slide">
                    <img src="https://i.postimg.cc/npmv4HHM/22230.png" height="139px"
                        width="196px" alt="" />
                </div>
                <div class="slide">
                    <img src="https://vinatt.com/thumbs/146x139x2/upload/photo/chungnhan-fda-8368.png" height="139px"
                        width="196px" alt="" />
                </div>
                <div class="slide">
                    <img src="https://vinatt.com/thumbs/146x139x2/upload/photo/chungnhan-global-gap-6829.png"
                        height="139px" width="196px" alt="" />
                </div>
                <div class="slide">
                    <img src="https://vinatt.com/thumbs/146x139x2/upload/photo/chungnhan-smeta-2330.png" height="139px"
                        width="196px" alt="" />
                </div>
            </div>
        </div>
    </div>
</section>