<footer class="footer" id="footer">
    <div class="footer-container">
        <div class="footer-flex">
            <div class="left-col">
                <div class="logo">
                    <img src="https://i.postimg.cc/SmRKfRrh/logo-Trang.png" width="150px" height="150px" alt="logo" />
                    <h2 class="company-name">HAFAMEX FRUIT</h2>
                </div>
                <div class="social-icon">
                    <ul class="nav-social-icon">
                        <li><a href="https://www.facebook.com/profile.php?id=61576330075352&locale=vi_VN"><i
                                    class="fa-brands fa-facebook-f"></i></a></li>
                        <li><a href="https://www.instagram.com/hafamex.fruit/"><i
                                    class="fa-brands fa-instagram"></i></a></li>
                        <li><a href="https://www.youtube.com/@@HAFAMEX_FRUIT"><i class="fa-brands fa-youtube"></i></a>
                        </li>
                        <li><a href="https://wa.me/+84375225229"><i class="fa-brands fa-whatsapp"></i></a></li>
                        <li><a href="https://www.linkedin.com/company/107100561/admin/dashboard/"><i
                                    class="fa-brands fa-linkedin-in"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="right-col">
                <h3>Quick Links</h3>
                <ul>
                    <li>
                        <NavLink href="/" class="nav-link">Home</NavLink>
                    </li>
                    <li>|</li>
                    <li>
                        <NavLink href="/about" class="nav-link">About</NavLink>
                    </li>
                    <li>|</li>
                    <li>
                        <NavLink href="/product" class="nav-link">Products</NavLink>
                    </li>
                    <li>|</li>
                    <li>
                        <NavLink href="/news" class="nav-link">News</NavLink>
                    </li>
                    <li>|</li>
                    <li>
                        <NavLink href="/contact" class="nav-link">Contact</NavLink>
                    </li>
                </ul>
                <h3>Contact</h3>
                <div class="info-row"><i class="fa-solid fa-location-dot"></i><span>200 GO DAU STREET, TAN QUY WARD,
                        TAN <br>
                        PHU DISTRICT, HO CHI MINH CITY</span></div>
                <div class="info-row"><i class="fa-solid fa-envelope"></i><span>info@hafamex.com</span></div>
                <div class="info-row"><i class="fa-solid fa-phone"></i><span>(+84) 375 225 229</span></div>
                @* <div class="get-info">
                    <input type="email" placeholder="info@gmail.com" />
                    <button>Send</button>
                </div> *@
            </div>
        </div>
    </div>
</footer>

<div class="footer-bottom">
    <div class="container">
        <p>©Copyright <strong>Hafamex 2025</strong></p>
    </div>
</div>
