<footer class="footer">
    <div class="ft-container">
        <div class="row">
            <div class="col-md-3 fcol-1">
                <div class="logo d-flex align-items-center">
                    <img src="https://i.postimg.cc/BZh8h8wf/logo-Nen-Trang1.png" width="80px" height="80px" alt="logo" />
                    <h2 class="dancing-script-600">Hafamex Fruit</h2>
                </div>
                <p class="dancing-script-400">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse vitae tempora quidem rem praesentium excepturi dolorem neque.
                </p>
                <div class="social-icon">
                    <ul class="nav-social-icon">
                        <li><a href="https://www.facebook.com/profile.php?id=61576330075352&locale=vi_VN"><i class="fa-brands fa-facebook-f"></i></a></li>
                        <li><a href="https://www.instagram.com/hafamex.fruit/"><i class="fa-brands fa-instagram"></i></a></li>
                        <li><a href="https://www.youtube.com/@@HAFAMEX_FRUIT"><i class="fa-brands fa-youtube"></i></a></li>
                        <li><a href="https://wa.me/+84375225229"><i class="fa-brands fa-whatsapp"></i></a></li>
                        <li><a href="https://www.linkedin.com/company/107100561/admin/dashboard/"><i class="fa-brands fa-linkedin-in"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 fcol-2">
                <h3>Quick Links</h3>
                <ul>
                    <li><NavLink href="/" class="nav-link">Home</NavLink></li>
                    <li><NavLink href="/about" class="nav-link">About</NavLink></li>
                    <li><NavLink href="/product" class="nav-link">Products</NavLink></li>
                    <li><NavLink href="/news" class="nav-link">News</NavLink></li>
                    <li><NavLink href="/contact" class="nav-link">Contact</NavLink></li>
                </ul>
            </div>
            @* <div class="col-md-3 fcol-3">
                <h3>Main Products</h3>
                <ul>
                    <li><a href="#">Dragon fruit</a></li>
                    <li><a href="#">Mango</a></li>
                    <li><a href="#">Coconut</a></li>
                    <li><a href="#">Pomelo</a></li>
                    <li><a href="#">Durian</a></li>
                    <li><a href="#">Other products</a></li>
                </ul>
            </div> *@
            <div class="col-md-3 fcol-4">
                <h3>Contact</h3>
                <div class="info-row"><i class="fa-solid fa-location-dot"></i><span>200 GO DAU STREET, TAN QUY WARD, TAN PHU DISTRICT, HO CHI MINH CITY</span></div>
                <div class="info-row"><i class="fa-solid fa-envelope"></i><span>info@hafamex.com</span></div>
                <div class="info-row"><i class="fa-solid fa-phone"></i><span>(+84) 375 225 229</span></div>
                <div class="get-info">
                    <input type="email" placeholder="info@gmail.com" />
                    <button>Send</button>
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="footer-bottom">
    <div class="container">
        <p>©Copyright <strong>Hafamex 2025</strong></p>
    </div>
</div>


