@using hafamex_clients.Models
@using hafamex_clients.Components.ProductCard
@inject NavigationManager Navigation

<h4 id="fresh-vegetable">Fresh Vegetable</h4>
<hr>
<div class="products-grid ">
    @foreach (var product in Products)
    {
        <ProductCard Product="@product" />
    }
</div>

@code {
    [Parameter] public List<Product> Products { get; set; } = new();
}
