<section class="market-location">
    <div class="container">
        <h1 class="animate__animated" data-animate="animate__fadeInDown">Markets</h1>
        <p class="animate__animated" data-animate="animate__fadeInDown">
            HAFAMEX is proudly supplying high-quality
            produce to international markets across Asia, Europe, the Middle East, North America, and Africa. With
            quality-driven in the global fruit trade, we have built a strong reputation for reliability, consistency,
            and commitment to customers.
        </p>
        <div class="market-map animate__animated" data-animate="animate__fadeInDown">
            <img src="https://i.postimg.cc/TPXhynhg/world.png" width="1440px" height="617px" alt="">
        </div>
    </div>
</section>