.process {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;

  .process-container {
    padding: 0 100px;
    text-align: center;

    .process-title {
      font-family: "Poppins", sans-serif;
      font-weight: 700;
      color: #1f2937;
    }

    .subtitle-process {
      font-size: 18px;
      font-weight: 400;
      color: grey;
    }

    .process-list {
      margin-top: 30px;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 10px;

      .process-item {
        border-radius: 15px;
        overflow: hidden;

        .process-img {
          overflow: hidden;
          border-radius: 15px;

          img {
            border-radius: 15px;
            height: auto;
            width: 100%;
            max-width: 250px;
            transition: transform 0.3s ease-in-out;
          }

          &:hover img {
            transform: scale(1.08);
          }
        }

        .process-item-title {
          font-family: "Poppins", sans-serif;
          font-weight: 600;
          font-size: 18px;
          margin: 20px 0 10px 0;
        }

        .process-item-subtitle {
          font-size: 14px;
          font-weight: 400;
          color: grey;
        }
      }
    }
  }

  // Responsive
  @media (max-width: 1280px) {
    .process-container {
      padding: 0 80px;

      .process-list {
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }

  @media (max-width: 1024px) {
    .process-container {
      padding: 0 60px;

      .process-list {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }

  @media (max-width: 768px) {
    .process-container {
      padding: 0 40px;

      .process-list {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  @media (max-width: 576px) {
    .process-container {
      padding: 0 20px;

      .process-list {
        grid-template-columns: 1fr;
        justify-items: center;
      }

      .process-item {
        .process-img img {
          max-width: 90%;
        }
      }
    }
  }

  @media (max-width: 360px) {
    .process-container {
      padding: 0 10px;

      .process-title {
        font-size: 20px;
      }

      .subtitle-process {
        font-size: 14px;
      }

      .process-list {
        gap: 8px;
      }

      .process-item {
        .process-img img {
          max-width: 100%;
        }

        .process-item-title {
          font-size: 16px;
        }

        .process-item-subtitle {
          font-size: 12px;
        }
      }
    }
  }
}
