.section--large {
  width: 100vw;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("https://i.postimg.cc/JhNnJS34/DJI-20250423070305-0036-D.jpg");
  background-repeat: inherit;
  background-size: cover;
}

.section--small {
  width: 100vw;
  background-color: #f69e9e;
}

.section--dark {
  width: 100vw;
  background-color: #fff;
}

section.four {
  background-color: #0a1b65;
}

nav {
  position: fixed;
  top: 0;
  left: 50%;
  display: flex;
  transform: translateX(-50%);
}
nav div {
  flex-basis: 25%;
  width: 80px;
  text-align: center;
  height: 50px;
  font-size: 21px;
  line-height: 50px;
  cursor: pointer;
  color: white;
  z-index: 10;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.6);
}

.hero {
  .container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .hero-content {
      padding: 0px 250px;
      .hero-title {
        text-align: center;
        font-size: 68px;
        font-weight: 900;
        font-family: "Poppins", sans-serif;

        letter-spacing: 1px;
        outline: none;
        color: #fff;
        .highlight {
          color: #b80a25;
        }
      }
      .hero-subtitle {
        margin: 20px 0px;
        font-family: "Poppins", sans-serif;

        font-size: 20px;
        font-weight: 400;
        text-align: center;
        color: #fff;
      }
    }
    .hero-buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      .btn-view-products {
        padding: 16px 0px;
        background-color: #b80a25;
        border: none;
        border-radius: 45px;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        transition: all 0.6s ease 0s;
        cursor: pointer;
        outline: none;
        a {
          padding: 40px;
          font-size: 16px;
          font-weight: 500;
          font-family: "Poppins", sans-serif;

          color: #fff;
          text-decoration: none;
        }
        &:hover {
          background-color: #9d051c;
          /* box-shadow: 0px 15px 20px #ca5c6c; */
          transform: translateY(-7px);
          a {
            color: #fff;
          }
        }
        &:active {
          transform: translateY(-1px);
        }
      }
      .btn-learn-more {
        margin-left: 20px;
        padding: 16px 0px;
        background-color: transparent;
        border: 2px solid #fff;
        border-radius: 45px;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        transition: all 0.6s ease 0s;
        a {
          color: #fff;
          padding: 0px 40px;
          text-decoration: none;
          font-size: 16px;
          font-weight: 500;
          font-family: "Poppins", sans-serif;
        }
        &:hover {
          background-color: #fff;
          /* box-shadow: 0px 10px 15px #a9a9a9; */
          transform: translateY(-7px);
          a {
            color: #000;
          }
        }
        &:active {
          transform: translateY(-1px);
        }
      }
    }
  }
}

.story {
  .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
    .story-content {
      width: 40%;
      .story-title {
        font-size: 32px;
        font-weight: 800;
        font-family: "Poppins", sans-serif;
      }
    }
    .story-image {
      width: 60%;
      padding: 100px;
      img {
        width: 700px;
        height: auto;
        border-radius: 16px;
        box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
          0 10px 10px -5px rgba(0, 0, 0, 0.04);
      }
    }
  }
}

.value {
  .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    gap: 30px;
    .value-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 200px;
      .value-card__icon {
        width: 80px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        i {
          color: #fff;
        }
      }
      .icon-target {
        background-color: #b80a25;
        i {
          font-size: 30px;
        }
      }
      .icon-eye {
        background-color: #17a34a;
        i {
          font-size: 30px;
        }
      }
      .icon-users {
        background-color: #eab403;
        i {
            font-size: 28px;
        }
      }
      
    }
  }
}
