<section>
    <div class="carousel-container">
        <div class="carousel-slide">
            <div class="youtube-wrapper" data-id="-olRYlzspR0">
                <div class="youtube-thumbnail"
                    style="background-image: url('https://img.youtube.com/vi/-olRYlzspR0/hqdefault.jpg');">
                    <div class="youtube-play-button"></div>
                </div>
            </div>
        </div>
    </div>
</section>
