<section class="slogan-home">
  <div class="slogan-bg" style="background-image: url('https://i.postimg.cc/bNkZq6wp/DJI-20250423065444-0012-D.jpg');">
    <div class="container animate__animated animate__slow" data-animate="animate__fadeInLeft">
      <div class="wrapper">
        <div class="slogan-content">
          <strong>Taste of Nature</strong>
          <strong>Taste of Nature</strong>
          <span>
            Through fields and oceans,<br>we carry the soul of the earth to every corner of existence.
          </span>
          <hr />
        </div>
      </div>
    </div>

    <div class="impressive-number animate__animated animate__slow" data-animate="animate__fadeInRight"
      id="impressive-number">
      <h1 class="title-imp-number">Why Choose Us?</h1>
      <p>
        With 16 years of experience in agricultural export, we are proud of delivering 11,890 tons of premium fruits
        annually, backed by a dedicated team of over 300 employees and workers. Founded in 2006, our factory has been
        committing to supply nature’s finest produce, which is harvested at peak ripeness, carefully packed and
        transported under cold conditions to preserve freshness, flavor, and nutritional value.
      </p>
      <div class="number-grid">
        <div class="number-card">
          <p class="count">16</p>
          <div class="count-title">Year of establishment</div>
        </div>
        <div class="number-card">
          <p class="count">11,890</p>
          <div class="count-title">Tons of export per year</div>
        </div>
        <div class="number-card">
          <p class="count">300+</p>
          <div class="count-title">Employees</div>
        </div>
        <div class="number-card">
          <p class="count">18+</p>
          <div class="count-title">Exporting country</div>
        </div>
      </div>
    </div>
  </div>
</section>