<section class="top-product">
    <h1 class="main-title animate__animated" data-animate="animate__fadeInDown">
        Top Export Products 
    </h1>
    <p class="subtitle animate__animated" data-animate="animate__fadeInDown">
    </p>
    <div class="wrapper animate__animated" data-animate="animate__zoomIn">
        <div class="inner" style="--quantity: 6;">
            <div class="card"
                style="--index: 0; background-image: url('https://i.postimg.cc/tTw6JtCh/1.png');">
                <div class="overlay">
                    <div class="float-content">
                        <div class="logo-title">WHITE DRAGON FRUIT</div>
                        <div class="logo-desc">
                        </div>
                    </div>
                </div>
            </div>
            <div class="card"
                style="--index: 1; background-image: url('https://i.postimg.cc/2S9SCj5W/12.png');">
                <div class="overlay">
                    <div class="float-content">
                        <div class="logo-title">RED DRAGON FRUIT</div>

                        <div class="logo-desc">
                        </div>
                    </div>
                </div>
            </div>
            <div class="card"
                style="--index: 2; background-image: url('https://i.postimg.cc/0NtDR1TX/3.png');">
                <div class="overlay">
                    <div class="float-content">
                        <div class="logo-title">YOUNG COCONUT</div>

                        <div class="logo-desc">
                        </div>
                    </div>
                </div>
            </div>
            <div class="card"
                style="--index: 3; background-image: url('https://i.postimg.cc/NFXHH95Z/2.png');">
                <div class="overlay">
                    <div class="float-content">
                        <div class="logo-title">SEEDLESS LIMES</div>

                        <div class="logo-desc">
                        </div>
                    </div>
                </div>
            </div>
            <div class="card"
                style="--index: 4; background-image: url('https://i.postimg.cc/rs2p7hwY/6.png');">
                <div class="overlay">
                    <div class="float-content">
                        <div class="logo-title">PASSION FRUIT</div>

                        <div class="logo-desc"></div>
                    </div>
                </div>
            </div>
            <div class="card"
                style="--index: 5; background-image: url('https://i.postimg.cc/mZ1Mqq8V/5.png');">
                <div class="overlay">
                    <div class="float-content">
                        <div class="logo-title">MANGO</div>

                        <div class="logo-desc"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>