@inherits LayoutComponentBase
@using Blazored.Modal
@inject NavigationManager NavigationManager
@using hafamex_clients.Components.Header
@using hafamex_clients.Components.Footer
@using hafamex_clients.Components.MenuFixed

<Header />
<div class="main-layout-second">
    @Body
</div>
<MenuFixed />
<Footer />
